@media (max-width: 650px) {

    .dash {
        width: 100%;
        flex-direction: row;
    }
    .dashboard-container {
        /* display: flex; */
        width: 100vh;
       
    }

    .dashboard-container .sidebar {
        display: none;
    }

    .main-content {
        width: 100vh;
    }


    
}

